{% extends 'base.html' %}

{% block content %}
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; min-height: 50vh; width: 100%; margin: 0 auto; margin-top: -50px;">

        <!-- Flash Messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="flash" style="color: red; margin: 10px 0;">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Form -->
        <form method="POST" action="{{ url_for('register') }}" style="padding: 20px; border: 1px solid #ccc; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); background-color: white; width: 300px;">
            {{ form.hidden_tag() }}
            <div>
                {{ form.name.label }}<br>
                {{ form.name(size=32) }}
            </div>
            <br>
            <div>
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}
            </div>
            <br>
            <div>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
            </div>
            <br>
            <div>
                {{ form.submit() }}
            </div>
        </form>
    </div>
{% endblock %}
